.messageContainer{
    display: flex;
    flex-direction: column;
    
}
.messages{
    border: 1px solid  rgb(191, 212, 200);
    overflow-y: scroll;
    max-width: 100%;
    overflow-x: hidden;
    word-wrap: break-word;
    margin: 10px;
    height:30rem;
}

.userMessages {
    width: 55%;
    float: right;
    display: flex;
    margin: 5px;
    justify-content: flex-end;
}
.userMessages p{
    border-radius: 15px 0px 15px 15px;
    padding: 15px;
    background-color: rgba(183, 222, 53, 0.9);
    box-shadow: 0 8px 6px -6px black;
}


.botMessages {
    width: 55%;
    float: left;
    display: flex;
    margin: 5px;
    justify-content: flex-end;
    flex-direction: row-reverse;
}

.botMessages p{
    border: 1px solid red;
    border-radius: 0px 15px 15px 15px;
    padding: 15px;
    background-color: #ff8e96;

}

.emojiLoader{
    position: fixed;
    bottom: 70px;
}

.messages::-webkit-scrollbar {
    display: none;
  }
.inputFieldBottom{
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 20px;
    left: 30%;
    justify-content: space-evenly;
}
.inputFieldBottom input[type=text]
{  flex:0.90;
   height: 40px; 
   padding-left: 10px;
   padding-right: 10px;
   width: 65vw;
   line-height: 15px;
   border: 1px solid;
   border-radius: 10px;  
   outline: none;
}

.inputFieldBottom input[type=image]
{  width: 40px;
   border-radius: 999px;
   outline: none;
}

.inputFieldBottom button:hover
{  cursor: pointer; 
    transform: scale(1.1);
}

.inputFieldBottom button {
    margin-top: -10px;
}